@{
    ViewBag.Title = "Natuurlik Orders By Status";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <h2 class="cheading">Orders By Status Report </h2>
        <iframe role="presentation" width="800" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=1a1a26e9-d2aa-4642-9743-4168c4d1c643&autoAuth=true&ctid=e1fc63d3-8b95-49f3-bc53-e7a0790cb1d8" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>