@{
    ViewBag.Title = "Natuurlik Orders By Status";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <h2 class="cheading">Orders By Status Report </h2>
        <iframe role="presentation" width="800" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=6ba96a14-6bfe-4063-a3b9-3c89657f3d75&autoAuth=true&ctid=e1fc63d3-8b95-49f3-bc53-e7a0790cb1d8" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>