@model Video

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
<form method="post">
	  @if (ViewBag.Error == null)
        {
            <div>
                <div class="card">
            <div class="card-header" style="background-color: #F2F2F2">
                <h5>Add Video</h5>
            </div>
            <div class="card-body">

		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" placeholder = "Why Shop Sustainably?"/>
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>

        <div class="mb-3">
			<label asp-for="VideoUrl"></label>
			<input asp-for="VideoUrl" class="form-control" placeholder = "https://www.youtube.com/embed/Je8tDr_qqSU"/>
			<span asp-validation-for="VideoUrl" class="text-danger"></span>
		</div>

		
		<button type="submit" class="btn btn-success" data-toggle="modal" style="width:150px">Add</button>
		<a asp-controller="Video" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
			Cancel
		</a>
	</div>
     </div>
        </div>
        }
	     <div class="modal" id="exampleModal1"  data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">


                </div>
                <h6 class="col-md-10">
                   Video already exists!
                </h6>

                <div class="modal-footer border-0">
                    <div class="form-actions no-color">
                        <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="location.href='@Url.Action("Index", "Video")'"/>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
</div>
@section Scripts{
	
	 
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
            });


        </script>
    
    }
}