@page
@model LoginModel

@section account {
    <link href="@Url.Content("~/css/account.css")" rel="stylesheet" type="text/css" />
}


<div class="container">
        <div class="row justify-content-center" id="log">   
            <div class="card new">
                <div class="logimg d-none d-lg-block">
                    <img src="~/images/login.png">
                </div> 
                <div class="col-md-6">               
                    <form id="account" method="post">
                        <h2 class="lohead">LOGIN</h2> 
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating" id="formspace">
                            <label asp-for="Input.Email" class="form-label required"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="example@gmail.com"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating" id="formspace">
                            <label asp-for="Input.Password" class="form-label required"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="*********"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div id="center">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                Don't have an account?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                            </p>
                        </div>
                    </form>               
            </div>  
         </div>          
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
