#about {
    text-align: center;
    padding-bottom: 4%;
    padding-top: 6%;
    /* background-image: url("../images/annie.png");*/
}

.stone {
    /*background-image: url("../images/august.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 7%;
}

.video {
    height: 50px;
}

.about-cont {
    padding-bottom: 5%;
}

#aboutprod {
    width: 100%;
}

#logo {
    height: 350px;
}

p, .card-body, #our, h1 {
    font-family: Montserrat-Regular;
}

.teams {
    /*background-image: url("../images/spratt.png");*/
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#our {
    text-align: center;
    padding-bottom: 4%;
    color: black;
}

#nat {
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.team-title {
    margin-top: 5%;
    font-family: Montserrat-Bold;
    color: black;
    font-size: 20px;
}

.team {
    background-color: #F5F5F5;
    border: none;
    color: black;
    text-align: center;
    padding: 20px;
    width: 290px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
    height: 550px;
}


    .team:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

.team-text {
    margin-top: 5%;
    color: black;
    font-size: small;
}

.team-img {
    margin-bottom: 30px;
    width: 200px;
    padding-top: 10%;
    padding-left: 20%;
}

.position {
    font-family: Montserrat-Medium;
    font-size: small;
    color: #9F9F9F;
}


@media (max-width: 768px) {

    #logo {
        height: 250px;
        padding-bottom: 10%;
    }

    .about-cont {
        text-align: center;
        padding-bottom: 4%;
        padding-top: 6%;
        /* background-image: url("../images/annie.png");*/
    }

    #our {
        padding-top: 20px;
        padding-bottom: 10%;
    }

    .video {
        padding-bottom: 20px;
    }
}
