#registerSubmit, #login-submit, #reset, #update-profile-button {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: black;
    border: 1px solid black;
}

    #registerSubmit:hover, #login-submit:hover, #reset:hover, #update-profile-button:hover {
        background-color: #DA3F48;
        border: 1px solid #DA3F48;
    }

#formspace {
    margin-top: 10px;
    margin-bottom: 10px;
}

.numspace, #notice {
    padding-top: 10px;
}

#notice {
    font-family: Montserrat-Regular;
}

.head {
    padding-top: 10%;
    font-family: Montserrat-Medium;
    padding-bottom: 20px;
    text-align: center;
}

#reg, #log {
    margin-bottom: 50px;
}

#center {
    text-align: center;
}

#foremail {
    margin-top: 100px;
    margin-bottom: 200px;
}

#conf {
    margin-top: 100px;
    margin-bottom: 100px;
}

#sucemail {
    margin-top: 90px;
    margin-bottom: 200px;
}

#good {
    color: #4FA643;
}

.acc {
    margin-top: 50px;
    margin-bottom: 20px;
}

.man {
    color: black;
}

#side {
    width: 80%;
    background-color: #FDFDFD;
    border: none;
}

#ordetails {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
}

#paydue {
    color: red;
    padding-bottom: 30px;
}

#paying {
    color: red;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 10px;
}

#strong, #strongone {
    font-family: Montserrat-SemiBold;
}

#stronger, #strongone {
    padding-top: 50px;
}

.spaceing {
    padding-bottom: 10px;
}

.strongdetails {
    margin-bottom: 50px;
}

.smaller, .rights {
    padding-top: 20px;
}

.rights {
    text-align: right;
}

#summarytotal {
    font-family: Montserrat-SemiBold;
}

.man {
    border-bottom: 1px solid lightgrey;
}


#light {
    font-family: Montserrat-Light;
}

#under {
    padding-right: 130px;
    padding-left: 130px;
    margin-bottom: 50px;
}

.sideside {
    width: 250px;
}

.sideprofile {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.ordstatus {
    padding-top: 20px;
    padding-bottom: 60px;
}

#ordspace {
    padding-bottom: 15px;
}



@media (min-width: 1025px) {
    #log, #res {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #reg {
        margin-top: 50px;
    }
}

@media (min-width: 1581px) {
    .sideside {
        width: 300px;
    }
}

@media (max-width: 768px) {

    #under {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 50px;
    }

    .sideside {
        width: 355px;
    }
}
