@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<div id="page-content-wrapper">
     <div class="container-fluid">
         <div class="row justify-content-start">
            <div class="col-10 col-sm-10 col-md-10">
                <h2 class="cheading">Help Documents</h2>
		    </div>
	    </div>

      <br /><br />

        <table class="table" id="tblData">
                <thead class="crudheading">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            City Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/City.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Country Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Country.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Courier Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Couriers.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Capture Prodcured Inventory Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/ProcuredInventory.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Customer List Report Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Reporting.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Inventory Item Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/InventoryItem.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                       <td>
                            Inventory Type Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/InventoryType.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Inventory List Report Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Reporting.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Manage Orders Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Order Confirmation Reminders Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Order Reviews Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Order Queries Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Orders Report Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Province Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Province.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>                        
                    <tr>
                        <td>
                            Payment Reminders Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Products Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Product Brands Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Product Categories Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Product Configuration Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Produce Product Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Produced Product Report Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            Product Report Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Reporting.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td> 
                    </tr>
                     <tr>
                        <td>
                            Query Reasons Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/QueryReason.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Return Reasons Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/ReturnReasons.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Review Reasons Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/ReviewReason.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Reseller Report Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Reporting.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Suppliers Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Supplier.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Send Supplier Order Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Suburb Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Sales Report Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Users Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Users.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Videos Help Document
                        </td>
                        <td>
                            <a href="" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            VAT Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/Vat.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Write-Off Reasons Help Document
                        </td>
                        <td>
                            <a href="~/helpDocs/WriteOffReason.pdf" target="_blank" class="btn btn-success"><i class="bi bi-eye">&nbsp;</i> View </a>             
                        </td>
                    </tr>          
                </tbody>
        </table>
    </div>
</div>


@section Scripts {

     <script>
          var dataTable;
            $(document).ready(function () {
                dataTable = $("#tblData").DataTable({ });
            })
        </script>
}