
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
     <NotFound>
        <p>Put 404 error page logic here</p>
    </NotFound>
</Router>