@model NatuurlikBase.Models.InventoryItem

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
<div>
        @if (ViewBag.Error == null)
        {
            <div class="card">
                <div class="card-header" style="background-color: #F2F2F2">
                    <h5>Create Inventory Item</h5>
                </div>
                <div class="card-body">
                    <div class="col-md-10">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="InventoryItemName" class="required"></label>
                                <input asp-for="InventoryItemName" class="form-control"placeholder ="Coffee sticker" >
                                <span asp-validation-for="InventoryItemName" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">


                                <label asp-for="InventoryTypeId" class="required">Inventory Type</label>
                                <select asp-for="InventoryTypeId" class ="form-control" asp-items="ViewBag.InventoryTypeId"> <option disabled selected>- Select Inventory Type -</option></select>
                                <span asp-validation-for="InventoryTypeId" class="text-danger"></span>
                            </div>
                                      <div class="form-group"> 
           <label asp-for="ThresholdValue" class="required"></label>
			<input asp-for="ThresholdValue" class="form-control"placeholder ="5" />
			<span asp-validation-for="ThresholdValue" class="text-danger"></span>
           </div>
                            <button type="submit" class="btn btn-success" data-toggle="modal" style="width:150px">Create</button>
                            <a asp-controller="InventoryItem" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
                                Cancel
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
                                <div class="modal" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" >
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header border-0">


                                        </div>
                                        <h6 class="col-md-10">
                                            Inventory Item Already Exists
                                           
                                        </h6>

                                        <div class="modal-footer border-0">
                                            <div class="form-actions no-color">
                                                <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="location.href='@Url.Action("Index", "InventoryItem")'"/>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
</div>     

@section Scripts{
	
	 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
            });


        </script>
    
    }
}

