@{
    ViewBag.Title = "Natuurlik Orders By Region";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <h2 class="cheading">Orders By Region Report </h2>
        <iframe role="presentation" width="800" height="600" src="https://app.powerbi.com/rdlEmbed?reportId=32c1b494-23b9-4751-8d2f-c49c2b277d9b&autoAuth=true&ctid=e1fc63d3-8b95-49f3-bc53-e7a0790cb1d8" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
