@model int

<div class="container" id="conf"> 
    <div id="center">
        <img src="~/images/confirm.png"/>
        <br />
        <br />           
            <h2> Your order was unsuccessful. <br /> </h2>
            <h4>We hope to hear from you soon!</h4>
            <div class="row justify-content-center">
                <a asp-controller="ProductCatalogue" asp-action="Index" class="btn btn-primary btn-block" id="itembtn" style="width:300px">Browse Products</a>
            </div>      
    </div>
</div>